html, body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
}

body *, body *::before, body *::after {
  box-sizing: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/*
.block_1 {
  width: 100%;
  
}*/

.info {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}

.video {
  position: relative;
}

video {
  display: block;
  width: 100%;
  
}

.info > h1 {
  padding: 2vw;
  margin: 0;
  text-align: center;
  font-size: 5vw;
  color: #ffa000;
  text-shadow: 2px 2px 3px black;
}

.image_article {
  display: flex;
  height: 60%;
  padding-bottom: 2vw;
}

.image_article > ul {
  align-self: center;
  font-size: 4vw;
  color: white;
  text-shadow: 2px 2px 3px black;
}

.image {
  background-image: url(prod.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20%;
  flex-basis: 50%;
  background-position-x: center;
}

button {
  font-size: 3vw;
  color: azure;
  border-radius: 2vw;
  background-color: darkmagenta;
  border-color: white;
  border-style: solid;
  cursor: pointer;
}

button a {
  text-decoration: none;
  color: azure;
}

.info > button {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.block_2 {
  display: flex;
  justify-content: space-evenly;
  padding: 3vw 0;
  background: radial-gradient(white, #FFA9A1);
}
/*
.block_2 .image {
  flex-basis: auto;
  width: 15vw;
  background-position-y: center;
}
*/
.image-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-button > img {
  width: 15vw;
  padding-bottom: 3vw;
}

.article_block2 {
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}
/*
.circle-image {
  background-image: url(prod.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 10vw;
  background-position-x: center;
}*/

.article_block2 p {
  padding: 0;
  margin: 1vw;
  font-size: 3vw;
}

.wrapper_block2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle-image img {
  width: auto;
  height: 10vw;
  margin-top: 1vw;
  
}

.circle-image {
  box-sizing: border-box;
  width: 13vw;
  height: 13vw;
  border: 0.25vw solid darkmagenta;
  border-radius: 50vw;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.block_3 {
  background: radial-gradient(white, #FFA9A1);
  min-height: max-content; 
}

.wrapper_block3 {
  height: 100vh;
  max-height: 200vw;
  min-height: max-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.slides {
  display: none;
  width: 70vw;
  margin: 0 auto;
  text-align: center;
  
}

.slides > img {
  vertical-align: middle;
  width: 13vw;
  min-width: 80px;
  text-align: center;
}

/* Slideshow container *//*
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}*/

/* Caption text */
.text {
  color: black;
  font-size: 2.5vh;
  padding: 8px 12px 20px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.name {
  color: black;
  font-size: 3vh;
  padding: 12px 12px;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #FFA9A1;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: indianred;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.block_4{
  background: radial-gradient(white, #FFA9A1);
  min-height: max-content;
}

.wrapper_block4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*height: inherit;*/
  justify-content: center;
  /*height: 100vh;*/
  max-height: 200vw;
  min-height: max-content;
}

.image_article_4 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.image_article_4 img {
  width: 35vw;
  padding: 2vw;
}

.article_block4 {
  padding: 2vw;
  font-size: 4vw;
}

.wrapper_block4 ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 3vw 2vw;
  width: 100%;
}

ul > li {
  padding: 0vw 1vw;
  list-style-type: none;
  font-size: 4vw;
}

.block_5 {
  background: radial-gradient(white, #FFA9A1);
  min-height: max-content;
}

.wrapper_block5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 200vw;
  min-height: 100vh;
  justify-content: center;
}

.wrapper_block5 h1 {
  padding: 2vw;
  margin: 0;
  text-align: center;
  font-size: 5vw;
  color: #ffa000;
  text-shadow: 2px 2px 3px black;
}

.wrapper_form {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: center;
}
/*
.sale {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}*/

.sale {
  flex-basis: 30vw;
  text-align: center;
}

.sale img {
  width: 15vw;
  min-width: 40px;
  padding: 3vw;
  display: block;
  margin: 0 auto;
} 

.sale_text1 {
  text-decoration-line: line-through;
  font-size: 2vw;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.sale_text2 {
  padding: 0;
  margin: 0;
  font-size: 3vw;
  display: inline-block;
}

.form {
  flex-basis: 40vw;
}

form {
  padding: 3vw;
  width: 40vw;
  max-width: 180px;
}

input {
  width: 40vw;
  max-width: 180px;
  padding: 0.5vw;
  margin: 1vw;
  border-radius: 2vw;
  border-color: darkmagenta;
  border-style: solid;
}


input:focus {
  outline: none; 
 }

 input::placeholder {
  transition: 0.5s; 
  color: #aaa; 
 }

 input:focus::placeholder { 
  font-size: 10px; 
  transform: translate(60%, -30%); 
}

form button {
  margin: 1vw;
}


.sale_text2 {
  text-transform: uppercase;
  padding: .25em 0 .325em;
  /*display: block;*/
  /*text-shadow: 0 0 80px rgba(255, 255, 255, 0.9);*/
  animation: bounce-top 2s infinite both;
  }


@keyframes bounce-top {
  0% {
    transform: translateY(-16px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-2px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-1px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.timer__items {
  display: flex;
  font-size: 48px;
}

.timer__item {
  position: relative;
  min-width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 15px;
  text-align: center;
}

.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 14px;
}

.timer__item:not(:last-child)::after {
  content: ':';
  position: absolute;
  right: -15px;
}





